.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content canvas {
  background-color: white
}

.App-content .cof-container {
  width: 35%;
  margin: 0 auto;
}

.App-content .cof-container img {
  width: 100%
}

.App-content .toggle-controls-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: grey;
  padding: 1rem;
  color: black;
}

.App-content .toggle-controls-container label {
  margin-right: 1rem, 
}

.App-content .toggle-controls-container p {
  align-self: center;
  color: white;
  cursor: pointer;
}

.App-content .toggle-controls-container button {
  align-self: center;
  border: 1px solid red;
  padding: 0.5rem;
  margin: 0.25rem;
}

.App-content .toggle-controls-container button:focus {
  outline: none
}

.App-link {
  color: #61dafb;
}

.App-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
}

.App-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}
.flx {
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
